# Application

APP_PORT=3000
APP_HOST=0.0.0.0

CORS_ORIGIN=*

DB_HOST=nullbank_db
DB_PORT=3306
DB_USER=mysql
DB_PASSWORD=mysql
DB_NAME=Equipe540193

# MySQL

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=Equipe540193
MYSQL_USER=mysql
MYSQL_PASSWORD=mysql